@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Sevillana&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-image: radial-gradient(#527F2F, #21524F);
  min-height: 100vh;
  overflow-x: hidden;
  height: inherit;
}

.tree1 {
  width: 110px;
  position: fixed;
  bottom: 0;
  left: 0;
  opacity: .9;
}

.tree2 {
  width: 110px;
  position: fixed;
  bottom: 0;
  right: 0;
  opacity: .9;
}

/* !welcome section */
.welcome-section {
  min-height: 100%;
  background: rgba(0, 0, 0, .7);
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.welcome-section.visible {
  display: flex;
}

.welcome-section .small-welcome-text {
  font-family: 'Sevillana', cursive;
  font-size: 2em;
  color: rgba(14, 174, 87, .8);
  font-weight: normal;
  line-height: .7;
}

.welcome-section .welcome-title-text {
  font-family: 'Sevillana', cursive;
  font-size: 3em;
  color: rgba(14, 174, 87, 1);
  font-weight: bold;
  margin-bottom: 30px;
}

.welcome-section .enter-button {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  outline: none;
  border: none;
  padding: 7px 28px;
  color: #fff;
  font-weight: 600;
  background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(14, 174, 87, 1) 0%, rgba(12, 116, 117, 1) 90%);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
}

.welcome-section .enter-button:hover {
  transform: scale(.9);
  -webkit-transform: scale(.9);
  -moz-transform: scale(.9);
  -ms-transform: scale(.9);
  -o-transform: scale(.9);
}

/* !sign up section */
.sign-up-section {
  width: 300px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, .7);
  padding: 30px 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 35px;
}

.sign-up-section.visible {
  display: flex;
}

.sign-up-section .username-field {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.username-field label {
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  font-weight: 400;
  font-size: 15px;
}

.username-field input {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: #181818;
  border: none;
  outline: none;
  background: #ffffff;
  padding: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.gender-field {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  font-family: 'Poppins', sans-serif;
}

.gender {
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
}

.gender .female {
  color: #EA047E;
}

.gender .male {
  color: #00FFF6;
}

.gender:hover,
.gender.active {
  opacity: .6;
}

.avatar-field {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
}

.avatar-field .avatar-image {
  width: 30px;
  height: 30px;
  padding: 1px 1px 0 1px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
}

.avatar-field .avatar1 {
  background-color: #9F73AB;
}

.avatar-field .avatar2 {
  background-color: #F0FF42;
}

.avatar-field .avatar3 {
  background-color: #7DE5ED;
}

.avatar-field .avatar4 {
  background-color: #D58BDD;
}

.avatar-field .avatar5 {
  background-color: #38E54D;
}

.avatar-field .avatar6 {
  background-color: #FF1E1E;
}

.avatar-field .avatar-image:hover,
.avatar-field .avatar-image.active {
  opacity: .7;
}

.sign-up-section .start-game {
  width: 100%;
  padding-block: 10px;
  color: #fff;
  font-weight: 600;
  background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(14, 174, 87, 1) 0%, rgba(12, 116, 117, 1) 90%);
  text-transform: uppercase;
  border: none;
  outline: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
}

.sign-up-section .start-game:hover {
  transform: scale(.9);
  -webkit-transform: scale(.9);
  -moz-transform: scale(.9);
  -ms-transform: scale(.9);
  -o-transform: scale(.9);
}

/* !game section */
.game-container {
  height: 100%;
  display: none;
  grid-template-columns: repeat(4, auto);
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  gap: 10px;
}

.game-container.visible {
  display: grid;
}

.game-container .game-info-container {
  width: 100%;
  grid-column: 1/-1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  perspective: 500px;
  font-family: 'Sevillana', cursive;
  font-size: 2em;
  color: #fff;
  font-weight: bold;
  margin-bottom: 10px;
}

.card {
  width: 70px;
  height: 120px;
  position: relative;
}

.card .card-face {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: transform .5s ease-in-out;
  -webkit-transition: transform .5s ease-in-out;
  -moz-transition: transform .5s ease-in-out;
  -ms-transition: transform .5s ease-in-out;
  -o-transition: transform .5s ease-in-out;
}

.card-back {
  background-color: #285430;
  border-color: #fff;
}

.card-front {
  background: #ffbb89;
  border-color: #fff;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
}

.snow-angle {
  position: absolute;
  width: 25px;
  height: 25px;
}

.snow-top-left {
  top: 0;
  left: 0;
  transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
}

.snow-top-right {
  top: 0;
  right: 0;
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
}

.snow-bottom-left {
  bottom: 0;
  left: 0;
  transform: rotate(900deg);
  -webkit-transform: rotate(900deg);
  -moz-transform: rotate(900deg);
  -ms-transform: rotate(900deg);
  -o-transform: rotate(900deg);
}

.snow-bottom-right {
  bottom: 0;
  right: 0;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

.snow-center,
.card-value {
  width: 50px;
  height: 50px;
}

.card.visible .card-back {
  transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
}

.card.visible .card-front {
  transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
}

@keyframes dance {
  0%,
  100% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }

  25% {
    transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
  }

  75% {
    transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
  }
}

.card.matched .card-value{
  animation: dance .8s infinite linear;
  -webkit-animation: dance .8s infinite linear;
}


/* !finish section */
.finish-section {
  font-family: 'Poppins', sans-serif;
  width: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 25px;
}

.finish-section .best-score {
 width: 100%;
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 justify-content: flex-start;
 gap: 10px;
 background: rgba(0, 0, 0, .7);
 padding: 30px 20px;
 border-radius: 10px;
 -moz-border-radius: 10px;
 -ms-border-radius: 10px;
 -o-border-radius: 10px;
 -webkit-border-radius: 10px;
}

.best-score .profile-finish {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.profile-finish .image-profile-finish {
  width: 50px;
  height: 50px;
  background-color: #9F73AB;
  padding: 1px 1px 0 1px;
  overflow: hidden;
  border: 1px solid #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.image-profile-finish img {
  width: 100%;
  height: 100%;
}

.text-name-finish {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.text-name-finish .username-finish {
  font-size: 1.1em;
  color: #fff;
}

.text-name-finish .gender-finish {
  font-size: 1em;
  color: #00FFF6;
}